@font-face {
    font-family: "Montserrat Black";
    src: url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
}