    @media only screen and (max-width: 1200px) {}
    /* Medium Devices, Desktops 
CURRENT MOBILE BREAKPOINT */
    
    @media only screen and (max-width: 992px) {}
    /* Small Devices, Tablets */
    
    @media only screen and (max-width: 768px) {}
    /* Extra Small Devices, Phones */
    
    @media only screen and (max-width: 480px) {
        .header-section .main-menu .navbar,
        .header-section .main-menu .navbar .navbar-brand,
        .site-main .site-banner {
            padding: 4%;
            margin: 0;
        }
        .project-section {
            padding: 4%;
            margin: 0;
        }
        .site-main .site-banner .site-title h1 {
            font: normal normal normal var(--mobile-title)/var(--mobile-title-line-height) var(--open-sans);
        }
        .site-main .site-banner .site-title span {
            color: var(--color-1);
            font-family: var(--montserrat);
            font-weight: bolder;
            font-size: var(--mobile-title);
            line-height: var(--mobile-title-line-height);
        }
        .footer-area {
            padding: 4%;
            margin: 0;
        }
        .project-name {
            font: normal normal normal 16px var(--montserrat);
        }
        .project-type {
            font: normal normal normal 16px/18px var(--montserrat);
        }
        .project-img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: var(--box-shadow);
            filter: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a.link {
            font: normal bold normal var(--mobile-body-text)/var(--mobile-body-line-height) var(--montserrat);
            color: var(--color-1);
            text-decoration: none;
            margin-top: 64px;
            cursor: pointer;
        }
    }