/* Fonts */

@import url(/css/fonts.css);

/* CSS Variables */

@import url(/css/partials/_variables.css);

/* Global */

@import url(/css/partials/global.css);

/* --------------------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


/* Start nav styles*/

li,
a {
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-size: var(--caption);
    line-height: var(--caption-line-height);
    text-align: center;
    color: var(--color-3);
    text-decoration: none;
}

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    height: 80px;
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
}

.aaron-charon-logo {
    width: 64px;
    height: auto;
    cursor: pointer;
}

.navbar-brand {
    padding: 0 32px;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 32px;
}

.nav-link li a:hover {
    transition: all 0.25s ease 0s;
    color: var(--color-1);
}

.nav-link li .active {
    color: var(--color-1);
}


/* .navbar-container {
    display: flex;
    padding: 0 64px;
    box-shadow: var(--box-shadow);
    background-color: #ffffff;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-size: var(--caption);
    line-height: var(--caption-line-height);
    text-align: center;
}

.header-section .main-menu .navbar-nav .active a {
    color: var(--color-1);
}

.header-section .main-menu .navbar-nav a:hover {
    color: var(--color-1);
} */


/* End nav styles*/


/* ----------------------------------------------------------------------------------------- */


/* Text Styles */

.site-main .site-banner .site-title h1 {
    color: var(--color-2);
    padding-top: 15%;
}

.site-main .site-banner .site-title span {
    color: var(--color-1);
    font-family: var(--montserrat);
    font-weight: bolder;
    font-size: var(--title);
    line-height: var(--title-line-height);
}

.aaron-special {
    color: var(--color-1);
    font-family: var(--montserrat);
    font-weight: bold;
    font-size: var(--body-text);
    line-height: var(--body-line-height);
}

.title {
    font: normal normal normal var(--caption) var(--montserrat);
}

.page-title {
    font: normal normal normal var(--body-text) var(--montserrat);
    color: var(--color-1);
    padding-top: 6.75rem;
}

.page-subtitle {
    font: normal normal normal var(--body-text) var(--montserrat);
    color: var(--color-1);
    padding: 2rem 0 1rem 0;
}

.title-text {
    font: normal normal normal 32px/48px var(--open-sans);
}

.body-text {
    font: normal normal normal 24px/36px var(--open-sans);
    text-align: left;
}

.project-name {
    font: normal normal normal 18px/24px var(--montserrat);
}

.project-type {
    padding-right: 8px;
    color: var(--color-2);
    font: normal normal normal 16px/18px var(--montserrat);
    text-align: left;
}

.process-type {
    color: var(--color-2);
    font: normal normal normal 16px/18px var(--montserrat);
    text-align: center;
    width: 50%;
}


/* Link Styles */

a.link {
    font: normal bold normal var(--caption) var(--montserrat);
    color: var(--color-1);
    text-decoration: none;
    margin-top: 64px;
    cursor: pointer;
}

a.link:hover {
    color: var(--color-3);
    border-bottom: 4px solid var(--color-3);
    text-decoration: none;
    cursor: pointer;
}

.projects-preview {
    padding-top: 108px;
}

.dot-separator {
    background-color: var(--color-2);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translateY(4px);
}

.project-category {
    padding-left: 8px;
    color: var(--color-2);
    font: normal normal normal 16px/18px var(--montserrat);
}

.skillset-special {
    font: normal normal normal 18px/24px var(--montserrat);
    color: var(--color-1);
}


/* Alignment Styles */

.site-main {
    padding-bottom: 15rem;
}

.project-section {
    margin-top: 64px;
}

.project-img {
    width: 640px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
}

.project-img:hover {
    cursor: pointer;
    filter: grayscale(0);
    transform: scale(1.1);
}

.view-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socials {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.social-icons {
    margin: 0 2rem 0 0;
}

img.sm-icon {
    width: 28px;
    height: auto;
}

img.sm-icon:hover {
    filter: opacity(45%);
}

img.icon-style {
    width: 128px;
    height: 128px;
}


/* About Page Styles */

.about-intro-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}

.process-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
}

.process-title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-text {
    padding-left: 32px;
}

.about-subtext {
    text-align: left;
    padding: 1rem 0;
}

.process-text {
    width: 60%;
}

.skillset-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.skillset-icon {
    width: auto;
    height: 64px;
}

.skillset-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

a.skillset-special:hover {
    color: var(--color-3);
    border-bottom: 4px solid var(--color-3);
    text-decoration: none;
}

.other-skillset {
    display: flex;
    justify-content: start;
    margin-top: 5rem;
    margin-left: 5rem;
}

img.profile-img {
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.footer-area {
    width: 100%;
    height: auto;
    padding: 2rem 0 2rem 0;
}

.footer-heading {
    display: flex;
    justify-content: start;
}

.follow-me {
    margin-bottom: 4rem;
}


/* Individual Project Styles */

.ind-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box {
    justify-content: center;
    align-items: center;
}

img.img-showcase {
    width: 640px;
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.img-caption {
    font: normal normal normal var(--caption) var(--montserrat);
    color: var(--color-2);
    text-align: center;
    padding: 2rem 0 6rem 0;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: transparent;
    padding: 4rem;
    display: block;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#back-to-top i {
    color: var(--color-1);
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 32px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#back-to-top:hover {
    background: transparent;
}

#back-to-top:hover i {
    color: var(--color-3);
    top: 5px;
}