@import url(/css/fonts.css);

/* Start nav styles*/

.header-section .menu-container .navbar .navbar-brand {
    padding: 0 4rem;
}

.header-section .menu-container .navbar {
    padding: 0 4rem;
}

.header-section .menu-container .nav-item .nav-link {
    font-family: "Montserrat Black";
    text-transform: uppercase;
    font-size: 18px;
    padding: 1.7rem;
    color: #1d1d1d;
}


/* End nav styles*/