@import url(/css/fonts.css);

/* CSS Variables */

@import url(/css/partials/_variables.css);

/* Start nav styles*/

.header-section .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 4rem;
}

.header-section .main-menu .navbar {
    padding: 0 4rem;
    box-shadow: var(--box-shadow);
}

.header-section .main-menu .nav-item .nav-link {
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-size: var(--caption);
    line-height: var(--caption-line-height);
    text-align: center;
    padding: 1.7rem;
    color: var(--color-3);
}

.header-section .main-menu .navbar-nav .active a {
    color: var(--color-1);
}

.header-section .main-menu .navbar-nav a:hover {
    color: var(--color-1);
}


/* End nav styles*/