@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
}

body {
    margin: 0;
    background-color: #ffffff;
}

.nav-bar {
    width: 80%;
    height: 48px;
    margin: 0 auto;
    box-shadow: black;
}

.logo {
    float: left;
    margin: 24px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a:hover {
    color: #696969;
}


/* nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
} */

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat Black';
    font-weight: 900;
    font-size: 18px;
    color: #1d1d1d;
}