html,
body {
    background-color: #fff;
    ;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}


/* CSS Variables */

:root {
    --color-1: #1d1d1d;
    --color-2: #696969;
    --color-3: #a8a8a8;
    --box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.14);
    /* Font Family Variables */
    --montserrat: "Montserrat Black";
    --open-sans: "Open Sans Light";
    /* Font sizes */
    --title: 32px;
    --title-line-height: 48px;
    --body-text: 24px;
    --body-line-height: 32px;
    --caption: 18px;
    --caption-line-height: 24px;
    /* Mobile Font Sizes */
    --mobile-title: 24px;
    --mobile-title-line-height: 32px;
    --mobile-body-text: 18px;
    --mobile-body-line-height: 24px;
    --mobile-caption: 12px;
    --mobile-caption-line-height: 18px;
}